{
  "train_data_path" : "train.txt",
  "test_data_path" : "devwithoutlabels.txt",
  "solution_path" : "test.txt",
  "standard_data_path" : "SolFile.txt",
  "glove_dir" : "./",
  "emoji_dir" : "./",
  "num_folds" : 5,
  "num_classes" : 4,
  "max_nb_words" : 20000,
  "max_sequence_length" : 100,
  "embedding_dim" : 250,
  "batch_size" : 200,
  "lstm_dim" : 200,
  "learning_rate" : 0.003,
  "dropout" : 0.2,
  "num_epochs" : 20
}
